<div class="container">
  <div class="breadcrumb">
    <div class="clearfix">
      <div class="pull-left" style="color: #005580; font-size: 18px; margin-top: 4px;">
        <i class="icon-user"></i> Profil Wisatawan
      </div>
    </div>
  </div>
  <div class="row">
    <% @profiles.each do |profile| %>
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li>
              <%= link_to image_tag(profile.image.url(:medium)), profile_path(profile) %>
            </li>
            <div class="nav-header" style="text-align: center">
              <%= link_to profile.name, profile_path(profile), :class => 'btn btn-primary' %>
            </div>
          </ul>
        </div><!--/.well -->
      </div><!--/span-->
    <% end %>
  </div>
  <div class="dashed" style="margin-bottom: 15px; margin-top: 0;"></div>
  <%= paginate @profiles %>
</div>
