<div class="profiles-home">
  <h2>Cerita Wisatawan</h2>
  <div class="dashed"></div>
  <div class="info-title">Cerita terbaru wisatawan tentang tempat wisata yang ada di Sumatera Barat</div>
  <div class="dashed" style="margin-bottom: 25px; margin-top: 0"></div>

  <% @reviews.each do |review| %>
    <div class="span1 photo-tourism">
      <%= link_to image_tag(review.user.image.url(:thumb), :class => 'thumbnail'), profile_path(review.user) %>
    </div>

    <div class="story-tourism">
      <div class="name-location">
        <%= link_to review.commentable.name, tourism_location_path(review.commentable, anchor: "comment-#{review.id}") %>
      </div>
      <div class="clearfix">
        <div class="date-publish pull-right"><i class="icon-time"></i> Rabu, 27 Juni 2012</div>
      </div>
      <div style="white-space: pre-wrap">
        <%= raw review.comment %>
      </div>
    </div>
    <div class="dashed" style="margin-bottom: 15px; margin-top: 10px;"></div>
  <% end %>
  <%= paginate @reviews %>
</div>

