<h1>Listing transportations</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transportations.each do |transportation| %>
  <tr>
    <td><%= link_to 'Show', transportation %></td>
    <td><%= link_to 'Edit', edit_transportation_path(transportation) %></td>
    <td><%= link_to 'Destroy', transportation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transportation', new_transportation_path %>
