# Rails
db/*.sqlite3
db/sphinx
config/*.sphinx.conf
config/database.yml
log/*
tmp/*

# RVMRC
.rvmrc

# Netbeans
nbproject

# Public uploads
public/ckeditor_assets
public/system
public/uploads

# Precompiled assets
public/assets
