<div class="container">
  <div class="row">
    <div class="span6">
      <span>&copy; 2013 MinangTourism. Design by
        <span class="undercolored">
          <a href="#">mindesign</a>
        </span>
      </span>
    </div>
  </div>
</div>