<div class="row tabbable tabs-left">
  <ul class="nav nav-tabs span3">
    <li class="active"><a data-toggle="tab" href="#lA">Tentang Kami</a></li>
    <li class=""><a data-toggle="tab" href="#lB">Cara Mendaftar</a></li>
    <%#*<li class=""><a data-toggle="tab" href="#lC">Section 3</a></li>%>
  </ul>
  <div class="tab-content">
    <div id="lA" class="tab-pane active">
      <div class="row">
        <div class="span9">
          <fieldset>
            <legend>APA ITU MINANGTOURISM.COM ?</legend>
          </fieldset>
          <p>minangtourism.com adalah sebuah aplikasi portal berita pariwisata yang bertujuan untuk
            memberikan informasi mengenai pariwisata Sumatera Barat,
            mulai dari berita wisata, cerita rakyat, tampat wisata, acara wisata, tips dan trik wisata.
            Semua yang ingin Kamu ketahui tentang wisata Sumatera Barat dapat kamu temukan di sini.
          </p>
          <p>
            Hal yang membuat minangtourism.com unik adalah,
            nuansa pariwisata yang disajikan pada website ini berasal dari pengalaman Kamu
            yang telah berkunjung ke tempat wisata yang ada di Sumatera Barat, dan informasi yang Kamu berikan
            dapat membantu melestarikan pariwisata yang ada di Sumatera Barat.
            Sehingga wisatawan dalam negeri maupun
            luar negeri dapat dengan mudah mengetahui informasi-informasi wisata yang ada di Sumatera Barat.
            Hanya informasi wisata yang berhubungan dengan Sumatera Barat yang akan diterima untuk dipublikasikan
            pada website ini.
          </p><br />

          <fieldset>
            <legend>BAGAIMANA CARA BERGABUNG ?</legend>
          </fieldset>
          <p style="margin-bottom: 20px;">
            Untuk bergabung dan menjadi member "Mudah Sekali!". Kamu tinggal daftar dengan cara meng-klik tombol
            <strong>'Sign In'</strong> yang berwarna biru berada di sudut kanan atas website dan memilih <strong> 'Daftar'</strong>.
          </p><br />

          <fieldset>
            <legend>APA YANG BISA KAMU LAKUKAN SETELAH BERGABUNG ?</legend>
          </fieldset>
          <p style="margin-bottom: 20px;">
            Setelah bergabung dan menjadi member, Kamu dapat menulis dan menceritakan pengalaman serumu mengenai wisata di Sumatera Barat,
            yang nantinya akan dijadikan informasi oleh wisatawan yang ingin berwisata ke Sumatera Barat. Tidak hanya itu, Kamu dapat berbagi informasi mengenai
            berita wisata, cerita rakyat, tampat wisata, acara wisata, tips dan trik wisata yang kamu buat kepada wisata lainya melalui halaman profilmu.
          </p>

          <fieldset>
            <legend>APA YANG KAMU DAPATKAN ?</legend>
          </fieldset>
          <p style="margin-bottom: 20px;">
            Kamu bisa mendapatkan informasi terbaru dengan cepat mengenai berita wisata, cerita rakyat, tampat wisata, acara wisata,
            tips dan trik wisata yang ditulis oleh para wisatawan yang telah bergabung.
          </p>

        </div>
      </div>
    </div>
    <div id="lB" class="tab-pane">
      <fieldset>
        <legend>CARA MENDAFTAR</legend>
      </fieldset>
      <h1><small> Apakah ada biaya untuk bergabung?</small></h1>
      <p style="margin-bottom: 20px;">
        minangtourism.com adalah situs gratis dan tidak akan pernah mengharuskan Anda membayar untuk terus menggunakan situs ini.
      </p>

      <h1><small> Berapa usia minimum yang disyaratkan untuk mendaftar ke minangtourism.com ?</small></h1>
      <p style="margin-bottom: 20px;">
        Agar memenuhi syarat untuk mendaftar ke minangtourism.com, pengguna harus berusia 13 tahun atau lebih.
      </p>

      <h1><small>  Bagaimana cara mendaftar ke minangtourism.com ?</small></h1>
      <p style="margin-bottom: 20px;">
        Jika tidak punya akun minangtourism.com, Anda bisa mendaftar dalam beberapa langkah mudah.
        Untuk mendaftarkan akun yang baru sama sekali, masukkan username, alamat email, kata sandi di minangtourism.com.
        Setelah Anda mengisi formulir pendaftaran, Anda akan langsung login sebagai member baru di minangtourism.com.
      </p>

      <div class="thumbnails">
        <div class="span9">
          <a href="#" class="thumbnail">
            <img src="../assets/register.png" alt="" />
          </a>
        </div>
      </div>

      <h1 style="margin-top: 15px"><small>  Berapa kekuatan kata sandi minimum? Bagaimana cara membuat kata sandi yang kuat? </small></h1>
      <p style="margin-bottom: 20px;">
        Ketika membuat kata sandi baru, pastikan setidaknya terdiri atas 6 karakter dan Anda menggunakan string campuran
        angka, huruf dan tanda baca. Jika kata sandi yang Anda masukkan tidak cukup kuat, Anda dapat mencampur huruf besar
        dan huruf kecil atau membuat kata sandi Anda lebih panjang.
      </p>

      <p>
        Idealnya, kata sandi yang Anda pilih harus cukup mudah Anda ingat tetapi sulit ditebak oleh orang lain.
        Untuk keamanan tambahan, kata sandi Facebook Anda harus berbeda dengan kata sandi lain yang Anda gunakan di internet.
      </p>

    </div>
    <%#*<div id="lC" class="tab-pane">%>
      <%#*<fieldset>%>
        <%#*<legend>APA YANG KAMU DAPATKAN ?</legend>%>
      <%#*</fieldset>%>
      <%#*<p>%>
        <%#*Kamu bisa mendapatkan informasi terbaru dengan cepat mengenai berita wisata, cerita rakyat, tampat wisata, acara wisata,%>
        <%#*tips dan trik wisata yang ditulis oleh para wisatawan yang telah bergabung.%>
      <%#*</p>%>

    <%#*</div>%>
  </div>

</div>