<% @why_sumbars.each do |why_sumbar| %>
  <ul class="span3">
    <div class="thumbnail" style="line-height: 18px; margin-bottom: 30px;">
      <%= image_tag(why_sumbar.image.url(:tiny)) %>
      <h3 style="margin-top: 10px; margin-bottom: 10px;"><%= why_sumbar.title %></h3>
      <p style="text-align: justify">
        <%= why_sumbar.content %></p>
    </div>
  </ul>
<% end %>
