<div class="breadcrumb">
  <div class="clearfix">
    <div class="pull-left" style="color: #005580; font-size: 18px; margin-top: 4px;">
      <i class="icon-star"></i> Tips dan Trik Wisata
    </div>
  </div>
</div>

<ul class="thumbnails">
  <li class="span8">
    <%= render "shared/tips_trick_1", :tips_tricks => @tips_tricks[0..0] || [] %>
  </li>

  <li class="span4">
    <%= render "shared/tips_trick_2", :tips_tricks => @tips_tricks[1..1] || [] %>
  </li>
</ul> <!-- Berita Utama -->

<ul class="thumbnails" style="margin-bottom: 0;">
  <%= render "shared/tips_trick_3", :tips_tricks => @tips_tricks.to_a.from(2) || [] %>

</ul>

<%= paginate @tips_tricks %>