/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require bootstrap-combobox
 *= require bootstrap-datepicker
 *= require_self
*/
/*body {
    background: url("/assets/circles.png") repeat fixed 0 0 transparent;
}*/

/*body {
    background: url("/assets/body-bg.png") repeat scroll 0 0 #E9E9E9;
    font: 13px/1.7em 'Open Sans';
}*/

/*------------------------------------HOME INDEX-------------------------------------------*/
/*navbar*/
.header{}

.navbar-inner {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
}
/*end-navbar*/

/*slider-area*/
.slider-area {}

#myCarousel {
    /*    background: none repeat scroll 0 0 #E3E3E3;*/
    border: 1px solid #9B9C9C;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px 0 #858585;
    padding: 8px;
}

.carousel {
    line-height: 1;
    position: relative;
}
/*end-slider-area*/

/*content-sumbar*/
.content-sumbar{
    /*    margin-top: 20px;*/
}

.content-sumbar h2{
    color: #444444;
    font-family: 'Questrial',sans-serif;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
}

.dashed {
    border-bottom: 1px dashed #CCCCCC;
    margin-top: 8px;
}

.info-title{
    text-align: right;
    font-size: 11px;
    font-style: italic;
    margin-right: 10px
}
/*end-content-sumbar*/

/* EVENT */
.eventsdate {
    border-right: 1px dashed #CCCCCC;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
}

.eventsdate .cont {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: normal;
    margin-left: 0;
}

.event-date {
    color: #990066;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}

.event-month {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.event-year {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    text-align: center;
}

.eventscontent {
    padding-right: 10px;
}

.title-event{
    margin-bottom: 10px;
}

.title-event a{
    color: #c639a1;
    font-size: 18px;
    text-decoration: none
}

.title-event a:hover{
    color: #990066;
}

.event-like a{
    color: #000000;
    font-size: 12px;
    float: right;
}

.event-like a:hover{
    color: #990066;
}

.all-events{
    margin-right: 10px;
    text-align: right;
    margin-bottom: 30px;
}
/*END EVENT*/

/* TOURISM ARTICLES / BERITA WISATA */
.image-news {
    border-right: 1px dashed #CCCCCC;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.title-news {
    padding-right: 10px;
    text-decoration: none;
    font-size: 14px;
}

.title-news a{
    color: #0088CC;
    font-size: 14px;
    text-decoration: none
}

.title-news a:hover{
    color: #005580;
}

.news-info{
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
}

.news-info a{
    color: #FF9900;
    text-decoration: none;
}

.news-info a:hover{
    color: #FF0000;
}
/* END TOURISM ARTICLES / BERITA WISATA */

/* MAPS / JARAK */
.maps {
}
/* END MAPS / JARAK */


/* CERITA WISATAWAN / COMMENT */
.content-tourism{
    /*    margin-left: 0;*/
}

.photo-tourism{
    margin-left: 0;
}

.photo-tourism .thumbnail{
    margin-right: 15px !important;
    margin-bottom: 10px;
}

.story-tourism{}

.name-location{
    margin-bottom: 5px;
}

.name-location a{
    font-size: 16px;
    font-weight: bold;
    color: #F53A26;
    text-decoration: none;
}

.name-location a:hover{
    color: #000000;
}

.date-publish{
    color: #F53A26;
}

.rate-location{
}

.small-view a{
    color: #F53A26;
    text-decoration: none;
}

.small-view a:hover{
    color: #000000;
}

/* END CERITA WISATAWAN / COMMENT */

/* CERITA WISATAWAN REVIEW*/
.pp-tourism{
    margin-bottom: 20px;
}

.link-article{
    margin-bottom: 10px; 
    text-align: center
}

.info-story-tourism{
    margin-bottom: 20px;
    line-height: normal;
}

.info-story-tourism span {
    display: block;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 7px;
}

.title-location-tourism{
    margin-bottom: 20px;
}

.title-location-tourism a{
    font-size: 24px;
    text-decoration: none;
}
/* END CERITA WISATAWAN REVIEW */

/*MENU WISATAWAN*/

.side-tourism a {
    color: #444;
    font-size: 14px;
    text-decoration: none;
}

.side-tourism a:hover {
    color: #005580;
}
/* END MENU WISATAWAN*/
/*------------------------------------HOME INDEX-------------------------------------------*/

/*------------------------------------CERITA WISATAWAN-------------------------------------*/
.ddate {
    background: none repeat scroll 0 0 #EFEFEF;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

.ddate h5 {
    padding-bottom: 7px;
    padding-top: 15px;
}

.ddate .firstA {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #EFEFEF;
    display: block;
    font-size: 0;
    height: 0;
    left: 50%;
    line-height: 0;
    margin-bottom: 20px;
    margin-left: -10px !important;
    position: relative;
    top: 10px;
    width: 0;
}

.meta span {
    display: block;
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 7px;
}

/*------------------------------------CERITA WISATAWAN-------------------------------------*/

/*------------------------------------PROFILE WISATAWAN-------------------------------------*/
.profiles-home{
    background-color: #EEEEEE;
/*    background-color: #F5F5F5;*/
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
/*------------------------------------END WISATAWAN-------------------------------------*/

/*tourism article 1/utama*/
.one-title-tourism-article{
    font-size: 35px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 35px;
    margin-bottom: 10px;
}

.one-title-tourism-article a{
    text-decoration: none
}

.one-content-article{
    font-size: 14px;
    line-height: 23px;
    /*    margin: 10px 0;*/
}
/*tourism article 1/utama*/

/*tourism article 2/tengah*/
.two-title-tourism-article{
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 28px;
    margin-bottom: 10px;
}

.two-title-tourism-article a{
    text-decoration: none
}

.two-content-article{
    font-size: 13px;
    line-height: 18px;
}
/*tourism article 2/tengah*/

/*tourism article 3/kecil*/
.three-title-tourism-article{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 24px;
    margin-bottom: 10px;
}

.three-title-tourism-article a{
    text-decoration: none
}

.three-content-article{
    font-size: 12px;
    line-height: 18px;
}
/*tourism article 3/kecil*/
/*end-news-index*/

.title-show-tourism-article{
    font-size: 32px;
    font-weight: 400;
    /*    letter-spacing: -2px;*/
    line-height: 1.24;
    /*    line-height: 26px;*/
    margin-bottom: 20px;
}

/*show news / show berita*/
.title-show-tourism-article{
    font-size: 32px;
    line-height: 1.24;
    margin-bottom: 20px;
}

.content-article-show p{
    font-size: 14px;
    line-height: 23px;
    margin-top: 20px;
}

.author-content-article-show{
    font-family: adelle,georgia;
    font-style: italic;
    margin-bottom: 0;
}

/*komentar toorism article*/
.comments-tourism-article{
    font-size: 11px;
    line-height: 15px;
    margin-top: 20px;
}

.comments-tourism-article img {
    /*    margin-bottom: 20px !important;*/
    margin-right: 20px !important;
    float: left;
}

.comments-tourism-article p {
    font-size: 12px;
    line-height: 18px;
}

/*end komentar toorism article*/

/*tempat wisata*/
.title-location{
    margin-left: 10px;
}

.title-location h3{
    margin-bottom: 5px;
}

.title-location p{
    margin-bottom: 10px;
    font-size: 12px;
    color: #0088CC;
}

.show-location-tourism hr{
    margin-top: 0;
}
/*end tempat wisata*/

/*FOOTER*/
.footer {
    background: none repeat scroll 0 0 #303030;
    border-bottom: 1px solid #444444;
    border-top: 1px solid #444444;
    color: #CACACA;
    padding: 30px 0;
}

.footer h5 {
    color: #999999 !important;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.colored {
    color: #0088CC;
}

.footer span {
    color: #777777;
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 0;
}

.footer p {
    color: #777777;
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 0;
}

.footer hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #222222 -moz-use-text-color #444444;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 5px 0;
}

.soc_icons a {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.icon_t {
    background: url("/assets/icons_twitter.png") repeat scroll 0 0 transparent;
    height: 24px;
    width: 24px;
}

.icon_t:hover {
    background: url("/assets/icons_twitter_hover.png") repeat scroll 0 0 transparent;
}

.icon_facebook {
    background: url("/assets/icons_facebook.png") repeat scroll 0 0 transparent;
    height: 24px;
    width: 24px;
}

.icon_facebook:hover {
    background: url("/assets/icons_facebook_hover.png") repeat scroll 0 0 transparent;
}

.icon_dribble {
    background: url("/assets/icons_dribble.png") repeat scroll 0 0 transparent;
    height: 24px;
    width: 24px;
}

.icon_dribble:hover {
    background: url("/assets/icons_dribble_hover.png") repeat scroll 0 0 transparent;
}

.icon_google {
    background: url("/assets/icons_google.png") repeat scroll 0 0 transparent;
    height: 24px;
    width: 24px;
}

.icon_google:hover {
    background: url("/assets/icons_google_hover.png") repeat scroll 0 0 transparent;
}

.icon_in {
    background: url("/assets/icons_in.png") repeat scroll 0 0 transparent;
    height: 24px;
    width: 24px;
}

.icon_in:hover {
    background: url("/assets/icons_in_hover.png") repeat scroll 0 0 transparent;
}

.icon_flickr {
    background: url("/assets/icons_flickr.png") repeat scroll 0 0 transparent;
    height: 24px;
    width: 24px;
}

.icon_flickr:hover {
    background: url("/assets/icons_flickr_hover.png") repeat scroll 0 0 transparent;
}
/*END FOOTER*/

/*bottom footer*/
.bottom-block {
    background: none repeat scroll 0 0 #3A3A3A;
    border-bottom: 5px solid #000000;
    color: #999999;
    font-size: 11px;
    padding: 10px 0;
}

.bottom-block a{
    text-decoration: none;
}

.undercolored {
    border-bottom: 1px solid #fff;
}
/* end bottom footer*/