<div class="container">
  <div class="page-header">
    <form action="" class="navbar-search pull-right" style="margin-top: 4px" >
      <input style="border-radius: 0 3px 3px 0;" class="span2 pull-right" size="16" type="text" placeholder="Cari cerita rakyat sumbar" value="" />
    </form>
    <div class="input-append date pull-right" id="dp3" data-date-format="dd-mm-yyyy">
      <span style="margin-top: 4px; border-radius: 3px 0 0 3px;" class="add-on ">
        <i class="icon-th"></i>
      </span>
    </div>
    <h2>
      Cerita Rakyat Sumatera Barat
    </h2>
  </div>
  <div class="row">
    <div class="span12">

      <ul class="thumbnails">
        <li class="span8">
          <%= render "shared/folktale_1", :folktales => @folktales[0..0] || [] %>
        </li>

        <li class="span4">
          <%= render "shared/folktale_2", :folktales => @folktales[1..1] || [] %>
        </li>
      </ul> <!-- Berita Utama -->

      <ul class="thumbnails">
        <%= render "shared/folktale_3", :folktales => @folktales.to_a.from(2) || [] %>

      </ul>

      <%= paginate @folktales %>
    </div>
  </div>
</div>