<div class="container">
  <div class="row">
    <div class="span12">
      <ul class="thumbnails">
        <li class="span8">
          <%= render "shared/folktale_content",
            :comments => @comments
        %>
        </li>

        <li class="span4">
          <%= render "shared/folktale_sub_content",
            :folktales => Folktale.published.recent.limit(5),
            :tips_tricks => TipsTrick.published.recent.limit(5),
            :article => TourismArticle.published.last,
            :event => Event.published.last,
            :review => Comment.published.reviews.last
        %>
        </li>
      </ul>
    </div>
  </div>
</div>