<div class="container">
  <div class="row">
    <div class="span12">
      <ul class="thumbnails">
        <li class="span8">
          <%= render "shared/folktale_content" %>
        </li>

        <li class="span4">
          <%= render "shared/folktale_sub_content",
            :folktales => Folktale.order('created_at DESC').limit(5),
            :tips_tricks => TipsTrick.order('created_at DESC').limit(5),
            :article => TourismArticle.last,
            :event => Event.last
        %>
        </li>
      </ul>
    </div>
  </div>
</div>